body {
    font-size: 14pt;
    background: cadetblue;
    color: beige;
    display: flex;
    align-items: flex-start;
}

#main {
    display: flex;
}

#inputs {
    margin-right: 30px;
}

#graphEdit {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
}

#eventList {
    background: darkslategrey;
    margin-right: 10px;
    padding: 5px;
    width: 250px;
    color: beige;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 80vh;
}

#relList {
    margin-top: 10px;
    padding: 5px;
    background: darkslateblue;
    overflow-y: scroll;
    max-height: 75vh;
}

#addEvent {
    margin-right: 10px;
}

#graphUse{
    background: #8A295A;
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
}

#useButton{
    margin-right: 10px;
}

.eventInfo {
    display: flex;
    align-items: center;
    color: beige;
}

.eventInfo>p {
    margin: auto 10px;
}

.eventInfo>button {
    margin: auto 10px;
}

.eventNameIn {
    color: #e7aeff;
}

.eventNameOut {
    color: orange !important;
}